
<h3>Уже совсем скоро..</h3>

<p>
  Проект представляет из себя приватный календарь для заметок периодических особенностей организма, текущего состояния здоровья.<br>
  Проект служит для ведения истории, прогнозирования и мониторинга динамики изменения показателей.
</p>

<br>

<iframe allowtransparency="true"
        src="https://money.yandex.ru/embed/donate.xml?uid=41001656984638&amp;default-sum=100&amp;targets=%D0%9D%D0%B0+%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0&amp;project-name=&amp;project-site=&amp;button-text=05&amp;hint=&amp;mail=on"
        frameborder="0"
        height="78"
        scrolling="no"
        width="450"></iframe>