
<% if current_user %>

    Привет, <%= current_user.name %>

<% else %>

    <h3>Авторизация</h3>

    <div class="medium default btn"><%= link_to "Google", "/auth/google_oauth2" %></div>
    <div class="medium default btn"><%= link_to "Facebook", "/auth/facebook" %></div>
    <div class="medium default btn"><%= link_to "Вконтакте", "/auth/vkontakte" %></div>

<% end %>