// Place all the styles related to the default controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

.calendar .week a,
.calendar .week div,
.calendar .legend div {
  width: 13.5%;
  float: left;
  margin: 0 0.7857% 0.7857% 0;

}

.calendar .week a {
  color: lighten(black, 60%);
}

.calendar .legend {
  margin-top: 1rem;
  color: rgba(0,0,0, 0.3%);
}

.calendar .week a,
.calendar .week div{
  height: 80px;
  background: rgba(0,0,0,0.05%);
  padding: 0px 5px;
}

.calendar .week a:hover {
  outline: 1px solid darkorange;
}

.calendar .week .prev,
.calendar .week .next,
{
  opacity: 0.4;
}

.calendar .week .today {
  background: lighten(darkorange, 10%);
  color: white
}


.right {
  float: right;
}


.navbar li.current {
  background: lighten(black, 27%);
}

.footer {
  font-size: 10pt;
  margin: 5em 0 1em;
  padding: 1em 0 0;
  border-top: 1px solid #ededed;
  text-align: center;
  opacity: 0.8;
}

.footer:hover {
  opacity: 1;
}

.footer p {
  margin-top: .8em;
  font-size: 8pt;
}

@media screen and (max-width: 767px){
  .auth {
    display: none;
  }
}

@media screen and (max-width: 320px){

  html { padding-top: 0; }

  .footer {
    margin-top: 2em;
  }

  .calendar .legend,
  .footer p,
  .navbar {
    display: none;
    position: absolute;
    top:-999999px;
  }

  .calendar .week .prev,
  .calendar .week .next,
  {
    display: none;
  }

  .calendar .week a,
  .calendar .week div {
    width: 96%;
    float: nont;
    display: block;
    height: 3em;
  }
}